{% extends 'base.html' %}
{% block body %}

<br>
<a class="btn btn-warning" href="{% url 'appclothcart:addcloth' %}">Add Cloths</a>
<br>
<br>
<br>
<div class="containser>">
    <div class="row">
           {% for i in object %}
        <div class="col-md-3"><br><br><br>
            <div class="card" style="width: 18rem;">
  <img src="{{i.image.url}}" class="card-img-top" alt="..." width="300px" height="350px" >
  <div class="card-body">
    <h5 class="card-title"> {{i.head}}<br> <br>{{i.year}}</h5>
    <p class="card-text">{{i.description}}</p>

      <a href="{% url 'appclothcart:detail' i.id %}" class="btn btn-success">BUY NOW</a>
      <a href="{% url 'appclothcart:detail' i.id %}" class="btn btn-warning">ADD CART</a><br>
      <br>
      <a href="{% url 'appclothcart:detail' i.id %}" class="btn btn-primary">{{i.head}}</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}